.spacer {
    display: flex;
    width: 93%;
    border-bottom: 1px;
    margin-top: 12px;
    margin-bottom: 12px;
    border-color: lightgrey;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    /* font-size: calc(10px + 2vmin); */
  }