.about-us-container {
    padding: 10px;
    text-align: justify;    
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex-direction: column;
}

.about-us-container h1 {
    text-align: center;
    color: black;
    opacity: 0.8;
    font-weight: bold;
    text-decoration: double;
    text-transform: uppercase;
}

.about-us-text {
    line-height: 1.8em;
    font-size: 1.2em;
    padding: 20px;
    width: 80%;
    text-align: justify;
    margin: auto;
}

.first-letter {
    font-size: 40px;
    line-height: 50px;
    font-weight: bold;
  }


.about-us-image {
    background-color: green;
    margin-top: 50%;
    margin-bottom: 50%;
}

@media only screen and (max-width: 600px) {
    .about-us-container {
      font-size: 0.8em;
      flex-direction: column;
      padding: 5px;
    }

    .about-us-image {
        display: none;
    }

    .about-us-text {
        width: 93%;
    }
  }
  