/* importa constants til að nota, til */

.container {
  background-color: white;
  display: flex;
  justify-content: center;
}

.cover {
  width: 100%;
  object-fit: cover;
  height: 400px;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-evenly;
  background-color: white;
  min-height: 14vh;
  position: relative;
  color: white;
  /* font-size: calc(10px + 2vmin); */
}

.text-background {
  background-color: lightslategray;
  border-radius: 2em;
}

.link {
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: black;
  padding: 15px;
  border-radius: 5px;
  z-index: 100;
}

.link:hover {
  opacity: 1;
  color: grey;
}

.logo {
  width: auto;
  display: flex;
  align-items: center;
  height: 10vmin;
  pointer-events: none;
}

.show-me {
  display: none;
}

.nav-bar {
  z-index: 140;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  border: 2px;
  border-style: dotted;
}

@media only screen and (max-width: 600px) {
  .header {
    /* færa þetta í hamburger */
    display: flex;
    justify-content: center;
  }

  .show-me {
    display: flex;
    justify-content: space-between;
  }

  .link {
    display: none;
  }
}
