.bottom-container {
    background-color: lightgrey;
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer {
    display: flex;
    justify-content: space-around;
}

.bottom-left {
    text-align: justify;
    width: 40%;
    padding: 10px;
}

.bottom-right {
    text-align: justify;
    width: 40%;
    padding: 10px;
}

h1 {
    font-size: 2em !important;
    text-align: left;
    color: black;
}