.staffcard-container {
    width: 90%;
    display: flex;
    flex-direction: row !important;
}

.card-image {
    width: 100%;
    height: max-content;
    object-fit: cover;

}

.staff-left-side {
    display: flex;
    justify-content: center;
    width: 50%;
}

.staff-right-side {
    display: flex;
    width: 59%;
    flex-direction: column;
    padding: 10px;
}

.staff-header {
    margin-top: 10px;
    font-size: 1.3em;
    text-align: center;
    padding: 2px 2px;
}

.staff-subheader {
    margin-left: 5px;
    font-size: 0.9em;
    text-align: center;
    
}

.staff-text {
    font-size: 0.9em;
    text-align: left;
    margin-left: 9px;
    line-height: 0.4;
}

@media only screen and (max-width: 600px) {
    .staffcard-container {
        flex-direction: column;
    }
    
  }